@{
    ViewBag.Title = "About";
}
<header class="intro-header" style="background-image: url('/img/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                    <span class="subheading">Simply Me.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>About

It all started when I was about six or seven years old. I had this overwhelming feeling that I was going to do something extraordinary with my life. I was going to make a difference. I was going to change the world. It was probably that same feeling we all had as kids. You know, the one that has us dreaming about being an astronaut or a superhero instead of an accountant or a lawyer.

But in my case, that feeling never quite went away.</p>
            <p>And so I went out into the world and accomplished some pretty great things. I spent years performing on Broadway as the bass player for the show “Rent.” I recorded albums with Grammy Award Winning artists like R. Kelly. I wrote several books. And I founded a successful digital marketing agency. It was a resume that any mother would be proud of.

But not me.

From my perspective, I had failed. I set out into the world to make a difference only to come back empty handed. Because, by my definition, in order to change the world you needed to do something big. Like build a school in a third world nation. Or walk across the country to bring awareness to a cause. Or run into a burning building to save a complete stranger. And I did none of these things.</p>
            <p>It wasn’t until years later that I realized that my gift for marketing and writing was my way of changing the world. Not that a new Pepsi ad was going to make a difference. But that I could focus my attention on helping those that were out there building schools in third world nations or walking across the country for a cause or running into burning buildings to help complete strangers.

I could help them tell their story. Grow their community. Build their business. And ultimately change the world.

So, that’s what I do.

I work with world-changers. Or as I like to put it, I connect the world with those who want to change it. And I do that through marketing, speaking, writing and consulting.

I have a whole bunch of impressive stats to back up what I say I can do.

I’ve been in digital marketing for nearly twenty years.
I am responsible for hundreds of millions of dollars in products and services sold online by my clients.
I have helped tens of thousands of people around the world live their dream on the Internet.
I have earned hundreds of millions of page views for myself and my clients.
But more important than any of that. There is nobody (except perhaps your Mom) that is more passionate about your dream of making a difference than I am. So, if you want to succeed in business while making a difference in the world, I’m the one you want to speak with. Because my mission is to help you get there.</p>
        </div>
    </div>
</div>
